<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="Maven_Sample.Zoop.AppTest"/>
      <class name="Maven_Sample.Zoop.TC_RC_Valid_Authentication_100"/>
      <class name="Maven_Sample.Zoop.FirstClass"/>
      <class name="Maven_Sample.Zoop.TC_Blank_API_key"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
